
.aboutSection {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutTitle {
    color: rgba(27, 27, 27, 0.95);
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
}

.textContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aboutText {
    color: gray;
    font-size: 25px;
    width: 80%;
    text-align: center;
    font-family: 'Avenir';
}

.lineContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .aboutText {
        font-size: 20px;
    }
}