.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.titleCard {
  background-color: rgba(27,27,27, 0.87);
  color: white;
  /* padding: 80px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.titleDate {
  font-size: 20px;
  letter-spacing: 2px;
  color: #aaff00;
  font-family: 'Avenir';
}

.title {
  font-size: 71px;
  display: flex;
  flex-direction: column;
  /* font-family: Gill Sans MT Condensed; */
  letter-spacing: 5px;
  padding-top: 40px;
}

.titleWord {
  margin-top: -20px;
  font-weight: bold;
  font-family: 'Bebas';
}

.ownerHeader {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border: 1px white;
  margin-bottom: 30px;
}

.owner {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border: 1px white;
}

.ownerLineContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.ownerLine {
  border-top: 2px solid #aaff00;
  width: 50%;
}

.ownerText {
  vertical-align: middle;
  /* font-weight: bold; */
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #aaff00;
  font-family: 'Avenir';
  /* font-family: 'Avenir'; */
  /* padding-top: 5px; */
}

.ownerImage {
  display: flex;
  justify-content: center;
}

.sponserRow {
  display: flex;
  justify-content: space-between;
}
  