.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.titleCard {
  background-color: rgba(255,35,80,0.8);
  color: white;
  /* padding: 80px; */
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.titleDate {
  font-size: 20px;
  letter-spacing: 2px;
}

.title {
  font-size: 71px;
  display: flex;
  flex-direction: column;
  font-family: Gill Sans MT Condensed;
  letter-spacing: 5px;
  padding-top: 40px;
}

.titleWord {
  margin-top: -20px;
  font-weight: bold;
}

.owner {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border: 1px white;
}

.ownerLineContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
}

.ownerLine {
  border-top: 2px solid white;
  width: 50%;
}

.ownerText {
  vertical-align: middle;
  font-weight: bold;
  padding-bottom: 10px;
  /* padding-top: 5px; */
}




  