.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.titleCard {
  background-color: rgba(27,27,27, 0.87);
  backdrop-filter: blur(2px);
  color: white;
  /* padding: 80px; */
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.titleDate {
  font-size: 20px;
  letter-spacing: 2px;
  color: #aaff00;
  font-family: 'Avenir';
}

.title {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  /* font-family: Gill Sans MT Condensed; */
  letter-spacing: 5px;
  padding-top: 40px;
}

.titleWord {
  /* margin-top: -12px; */
  font-weight: bold;
  font-family: 'Bebas';
}

.ownerHeader {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border: 1px white;
  margin-bottom: 30px;
}

.owner {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border: 1px white;
}

.ownerLineContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.ownerLine {
  border-top: 2px solid #aaff00;
  width: 50%;
}

.ownerText {
  vertical-align: middle;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #aaff00;
  font-family: 'Avenir';
}

.ownerImage {
  display: flex;
  justify-content: center;
}

.sponserRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
  
.sponserCenter {
  display: flex;
  justify-content: center;
}

.tokenPic {
  width: 160px;
  height: 40px;
}

.stackosPic{
  width: 140px;
  height: 30px;
}

@media (max-width: 768px) {

  .container {
    padding-top: 10px;
  }

  .sponserRow {
    display: flex;
    flex-direction: column;
  }

  .titleCard {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .title {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    letter-spacing: 5px;
    padding-top: 40px;
  }

  .titleWord {
    margin-top: -10px;
    font-weight: bold;
    font-family: 'Bebas';
  }

  .titleDate {
    font-size: 16px;
    letter-spacing: 1px;
    color: #aaff00;
    font-family: 'Avenir';
  }

  .ownerText {
    font-size: 16px;
  }

  .tokenPic {
    width: 140px;
    height: 34px;
  }

  .stackosContainer {
    padding-top: 20px;
  }

  .stackosText {
    padding-bottom: 5px;
  }
  
  .stackosPic{
    width: 110px;
    height: 22px;
  }

}