
.tableSection {
    /* display: flex;
    justify-content: center;*/
    background-color: rgba(27, 27, 27, 0.87); 
    border: 2px solid #aaff00;
    
    /* border: 2px solid #aaff00; */
    
}

.tableBorder {
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 40px;

}

.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.searchBar {
    width: 20%;
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.tableTitleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tableTitle {
    font-family: 'Avenir';
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Avenir';
    width: 90%;
}

.timelineContainer {
    display: flex;
    justify-content: center;
}

.timeline {
    background-color: white;
    border: 4px solid #aaff00;
    width: 90%;
}

.tabContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.tabList {
    display: flex;
    font-size: 20px;
    font-family: Avenir;
    font-weight: bold;
    color: white;
}

.tab {
    padding: 5px 10px 5px 10px;
}

.timelineTab {
    margin-left: 20px;
}

.clickableTab {
    background-color: rgba(27, 27, 27, 0.87);
    color: #aaff00;
    cursor: pointer;
}

.clickableTab:hover {
    color: white;
    cursor: pointer;
}

.contactCard {
    position: fixed;
    border: 2px solid #aaff00;
    color: white;
    background-color: rgba(27, 27, 27, 1);
    user-select: text;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: consolas;
    font-size: 15px;
    word-wrap: break-word;
    max-width: 150px;
}