
.eventSection {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 20px;
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Avenir';
    padding: 20px;
}

.eventCardCenter {
    display: flex;
    justify-content: center;
}

.eventCardTitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgba(27, 27, 27, 0.95);
}

.eventForm {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.eventFieldList {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 20px;
}

.eventField {
    display: flex;
}

.eventFieldLabel {
    width: 85px;
    /* font-size: 18px; */
}

.eventFieldInputContainer {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 70%;
}

.eventFieldInput {
    height: 36px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(8, 8, 8, 0.16) 0px 0px 0px 1px, rgba(8, 8, 8, 0.08) 0px 2px 5px 0px;
    border: 0px none;
    border-radius: 5px;
    width: 100%;
}

.eventFieldInput[type="text"] {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.eventSubmitButton {
    border: 0px none;
    height: 32px;
    /* border-radius: 5px; */
    cursor: pointer;
    /* background: rgb(82, 113, 255); */
    background: black;
    color: white;
    text-align: left;
    outline: none;
    font-weight: bold;
    padding: 10px 12px;
    height: 32px;
}

.validateContainer {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 15px;
    padding-top: 15px;
}

.errorMessage {
    color: red;
}

.successMessage {
    color: rgba(27, 27, 27, 0.95);
}

.captchaContainer {
    display: flex;
    justify-content: center;
}

.endLine {
    width: 100%;
}

.priceFont {
    font-size: 12px;
}

.textAreaInput {
    font-family: 'Avenir';
    box-sizing: border-box;
    padding: 8px;
    max-width: 200px;
    max-height: 100px;
}

.reqField {
    color: red;
}