.timeline {
    overflow-x: scroll;
    min-height: 500px;
    /* width: 1000px; */
}

.headerRow {
    display: flex;
    font-family: 'Avenir';
    color: white;
    font-weight: bold;
}


.headerCellContainer {
    /* min-width: 150px; */
    padding: 10px 5px 10px 5px;
}

.headerCell {
    /* background-color: grey; */
    background-color: rgba(27, 27, 27, 0.87);
    text-align: center;
    font-size: 22px;
    padding: 10px 0px 10px 0px;
    /* box-shadow: 0px 0px 5px 1px #aaff00ff; */
    /* border: 1px solid black; */
}

.headerDay {
    font-size: 15px;
}

.rowList {
    display: flex;
    font-family: 'Bebas';
    color: white;
}

.row {
    height: 50px;
    position: relative;
}

.cell {
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);
    padding: 5px;
    height: 50px;
    display: flex;
}

.eventCell {
    width: 100%;
    padding-left: 10px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.redCell {
    background-color: red;
    width: 100%;
}