.eventCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #aaff00;
    width: 250px;
    margin: 20px;
    /* backdrop-filter: blur(5px); */
    background-color: rgba(27, 27, 27, 1);
    user-select: text;
    color: white;

}

.eventCardLink {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
}

.eventCardLink:hover {
    text-decoration: none;
}

.eventCard:hover {
    background-color: rgb(32, 32, 32);
}

.eventCardAnim:hover {
    animation-duration: 0.3s;
    animation-name: cardExpand;
    animation-fill-mode: forwards;
}

@keyframes cardExpand {
    to {
        box-shadow: 0px 0px 2px 3px #aaff00;
        /* transform: scale(1.05); */
    }
}

.cardContent {
    padding-left: 20px;
    padding-right: 20px;
}

.bottomSection {
    display: flex;
    flex-direction: column-reverse;
}

.dateCell {
    width: 100%;
    font-size: 28px;
    font-family: 'Enriqueta';
    font-weight: bold;
    background-color: #aaff00;
    color: rgba(10, 10, 10, 1);
    /* color: black; */
    text-align: center;
    margin-bottom: 8px;
}

.dateCell:hover {
    text-decoration: none;
}

.nameCell {
    text-align: center;
    margin: auto;
    color: white;
    /* font-family: 'Bebas'; */
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 100%;
}

.nameCellLink {
    color: white;
}

.venueCell {
    width: 100%;
    /* padding-left: 10px; */
    margin: auto;
    font-family: 'Avenir-light';
    font-size: 12px;
}

.categoryCell {
    width: 100%;
    /* padding-left: 10px; */
    /* margin: auto; */
    font-family: 'Avenir-light';
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #aaff00;
}

.moreSection {
    display: flex;
    align-items: flex-end;
    padding-top: 18px;
}

.priceSection {
    border-top: 1px solid #aaff00;
    border-left: 1px solid #aaff00;
    text-align:center;
    padding: 4px 10px 2px 8px;
    /* margin: auto; */
}

.priceText {
    font-size: 12px;
    font-family: consolas;
    white-space: nowrap;
    letter-spacing: 1px;
}

.more {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.moreText {
    font-size: 15px;
    font-family: Avenir-light;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    letter-spacing: 1px;
    color: white;
    /* text-decoration: underline; */
    padding: 4px 6px 4px 8px;
    position: relative;
}

.moreText:hover {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

.moreLeft {
    display: flex;
}

.moreRight {
    display: flex;
    flex-direction: column-reverse;
}

.moreBottom {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.contactCard {

    margin: 0 auto;
    position: fixed;
    display:none;

    border: 2px solid #aaff00;
    color: white;
    background-color: rgba(27, 27, 27, 1);
    user-select: text;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: consolas;
    font-size: 15px;
    white-space: break-spaces;
    /* word-wrap: break-word; */
    min-width: 150px;
    text-align: left;
    padding: 20px;
    overflow-x: scroll;
    left: -4px;
}

.moreText:hover .contactCard {
    display:block;
}

@media (min-width: 900px) {
    .contactCard {
        min-width: 350px;
    }
}

@media (max-width: 900px) {
    .contactCard {
        min-width: 300px;
    }
}

.dropIcon {
    width: 16px;
    height: 16px;
}


.eventCardFade {
    border: 1px solid #aaff0088;
    background-color: rgba(27, 27, 27, 1);
}

.dateFade {
    background-color: #aaff0088;
}

.nameFade {
    color: rgba(255,255,255,0.8);
}

.venueFade {
    color: rgba(255,255,255,0.8);
}

.categoryFade {
    color: #aaff0088;
}

.priceFade {
    border-top: 1px solid #aaff0088;
    border-left: 1px solid #aaff0088;
    color: rgba(255, 255, 255, 0.8);
}

