.eventCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #aaff00;
    width: 250px;
    margin: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(27, 27, 27, 0.5);
    user-select: text;
}

.eventCardLink {
    display: flex;
    flex-direction: column;
    color: white;
}

.eventCardLink:hover {
    text-decoration: none;
}

.eventCard:hover {
    background-color: rgba(27, 27, 27, 0.5);
}

.eventCardAnim:hover {
    animation-duration: 0.3s;
    animation-name: cardExpand;
    animation-fill-mode: forwards;
}

@keyframes cardExpand {
    from {
        transform: scale(1);
    }
    to {
        box-shadow: 0px 0px 10px 4px #aaff00;
        /* transform: scale(1.05); */
    }
}

.eventCardFade {
    opacity: 0.5;
}

.dateCell {
    width: 100%;
    font-size: 28px;
    font-family: 'Enriqueta';
    font-weight: bold;
    background-color: #aaff00;
    color: rgba(10, 10, 10, 1);
    /* color: black; */
    text-align: center;
    margin-bottom: 8px;
}

.nameCell {
    text-align: center;
    margin: auto;
    font-family: 'Bebas';
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    width: 100%;
}

.venueCell {
    width: 100%;
    padding-left: 10px;
    margin: auto;
    font-family: 'Avenir-light';
    font-size: 18px;
}

.categoryCell {
    width: 100%;
    padding-left: 10px;
    margin: auto;
    font-family: 'Avenir-light';
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
}

.moreSection {
    display: flex;
    align-items: flex-end;
    padding-top: 18px;
}

.priceSection {
    border-top: 1px solid #aaff00;
    border-right: 1px solid #aaff00;
    text-align:center;
    padding: 4px 10px 2px 8px;
    /* margin: auto; */
}

.priceText {
    font-size: 12px;
    font-family: consolas;
    white-space: nowrap;
    letter-spacing: 1px;
}

.more {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.moreText {
    font-size: 15px;
    font-family: Avenir-light;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    letter-spacing: 1px;
    color: white;
    /* text-decoration: underline; */
    padding: 4px 6px 4px 8px;
}

.moreText:hover {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}