
.footerSection {
    background-color:  rgba(27, 27, 27, 0.87);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footerCard {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.footerText {
    color: #aaff00;
    font-family: 'Avenir';
    font-size: 15px;
    vertical-align: center;
}

.footerTwitterContainer {
    width: 100%;
    vertical-align: center;
    display: flex;
    justify-content:center;
}

.footerTwitterImage {
    width: 30px;
    height: 30px;
}

.stackLink {
    color: white;
}