
.navbarSection {
    background-color: rgba(255, 255, 255, 1);
    color: grey;
    font-family: 'Avenir';
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.navbarButton {
    padding: 10px;
    cursor: pointer;
    color: rgba(27, 27, 27, 0.95);
}

.navbarButton:hover {
    color: grey;
}