
.letterContainer {
    /* background-color: rgba(27, 27, 27, 0.87);  */
    /* background-color: rgba(27, 27, 27, 0.87);  */
    background-color: #fafafa;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.titleText {
    text-align: center;
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 26px;
}

.connectCards {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    /* justify-content: space-between; */
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color:  */
}

.container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.newsletterCard {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    /* border-right: 1px solid black; */
}

.letterTitleContainer {
    display: flex;
    justify-content: center;
    font-family: 'Avenir';
    font-weight: bold;
}

.title {
    color: rgba(27, 27, 27, 0.95);
    font-size: 30px;
    width: 70%;
    text-align: center;
    font-size: 40px;
}

.descCenter {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
    font-family: 'Avenir';
    /* font-size: 18px; */
    font-size: 25px;
    width: 80%;
    color: gray;
    text-align: center;
}

.enterFieldContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.enterField {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.enterInput {
    width: 80%;
}

.enterButton {
    margin-left: 10px;
}

.lineContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-top: 20px; */
}

.captchaContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.validateContainer {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 15px;
    padding-top: 10px;
    font-family: 'Avenir';
}

.errorMessage {
    color: red;
}

.successMessage {
    color: rgba(27, 27, 27, 0.95);
}

.signupBackground {
    background-color:#aaff00;
}

.signupBar {
    display: flex;
    /* margin-left: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background-color:#aaff00;
    /* border-bottom: 2px solid black; */
}

.signupMiddle {
    display: flex;
    flex-direction: column;
    /* padding-top: 40px; */
    /* padding-bottom: 50px; */
}

.endLine {
    font-size: 0px;
}

.iconCenter {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.navBar {
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* padding-top: 15px; */
}

.navCell {
    /* padding-left: 20px; */
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    color: black;
}

.navLink:hover {
    text-decoration: none;
}

.navCellTitle {
    font-family: 'Avenir';
    font-weight: bold;
    color: rgba(27, 27, 27, 0.95);
    /* font-weight: bold; */
    margin: auto;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 10px;
}

.buttonPadding {
    /* margin-left: 20px; */
}

.whatsappClass {
    width: 36px;
    height: 36px;
}

.iconClass {
    /* background-color: rgba(27, 27, 27, 0.95); */
    width: 32px;
    height: 32px;
}

.connectTitleContainer {
    text-align: center;
    color: rgba(27, 27, 27, 0.95);
    font-size: 26px;
    font-family: 'Avenir';
    font-weight: bold;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .navBar {
        display: flex;
        flex-direction: column;
    }

    .description {
        font-size: 20px;
    }
}