
.mediaSection {
    background-color: white;
    width: 100%;
}

.mediaCard {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
    /* padding: 60px; */
}

.mediaTitle {
    text-align: center;
    font-family: 'Avenir';
    font-weight: bold;
    color: rgba(27, 27, 27, 0.95);
    font-size: 26px;
    letter-spacing: 3px;
}

.mediaRow {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
}

.mediaColumn {
    display: flex;
    flex-direction: column;
}

.mediaPic {
    padding-left: 30px;
}
