
.mediaSection {
    background-color: white;
    width: 100%;
}

.mediaCard {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.mediaTitle {
    text-align: center;
    font-family: Franklin Gothic Demi Cond;
    letter-spacing: 3px;
    color: gray;
}

.mediaRow {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
}

.mediaColumn {
    display: flex;
    flex-direction: column;
}

.mediaPic {
    padding-left: 30px;
}
