
.mediaSection {
    background-color: #fafafa;
    width: 100%;
}

.mediaCard {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
    /* padding: 60px; */
}

.mediaTitle {
    text-align: center;
    font-family: 'Avenir';
    font-weight: bold;
    color: rgba(27, 27, 27, 0.95);
    font-size: 26px;
    letter-spacing: 3px;
}

.linkContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.mediaLink {
    text-align: center;
    font-family: 'Avenir';
    font-weight: bold;
    color: rgba(27, 27, 27, 0.95);
    font-size: 15px;
    text-decoration: underline;
}

.mediaLink:hover {
    color: grey;
    cursor: pointer;
}


.mediaCenter {
    display: flex;
    justify-content: center;
}

.mediaRow {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.mediaColumn {
    display: flex;
    flex-direction: column;
}

.mediaPic {
    /* padding-left: 30px; */
    padding: 30px;
    align-items: center;
}
